*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

html {
  font-size: 10px;
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
}

.header__container {
  padding: 1rem 2rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.header__nav-items {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(9%, #fff), color-stop(9%, #2b272f));
  background: linear-gradient(#fff 9%, #2b272f 9%);
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1500;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

.header__nav-items--hide-mobile {
  display: none;
}

.header__nav-items:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24rem;
  background: url(../img/bg-pattern-mobile-nav.svg) center no-repeat;
  background-size: cover;
}

.header__nav-item-logo, .header__nav-item-link--logo {
  position: absolute;
  top: 1.35rem;
  left: 1.5rem;
  width: 11.2rem;
}

.header__nav-item {
  margin: 1.2rem;
}

.header__nav-item--exit-icon {
  position: absolute;
  top: .8rem;
  right: 1.8rem;
  cursor: pointer;
}

.header__nav-item--move {
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.header__nav-item-link {
  color: #fafafa;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.hero__img {
  display: block;
}

.hero__item--2 {
  background-color: #2d2640;
  color: #fafafa;
}

.hero__item--2:before {
  content: "";
  position: absolute;
  left: 0;
  background: url(../img/bg-pattern-intro-left-mobile.svg) no-repeat;
  background-size: 35%;
  width: 100%;
  height: 100%;
}

.hero__copyright {
  padding: 7rem 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero__copyright-h1 {
  font-size: 5rem;
  letter-spacing: 1px;
  line-height: 5rem;
}

.hero__copyright-paragraph {
  margin-top: 1.5rem;
  line-height: 2rem;
}

.btn {
  color: #fafafa;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem auto;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 2px solid #fafafa;
}

.services {
  padding: 7rem 2rem;
  text-align: center;
}

.services:before {
  content: "";
  position: absolute;
  right: 0;
  background: url(../img/bg-pattern-intro-right-mobile.svg) right no-repeat;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-46rem);
          transform: translateY(-46rem);
}

.services__border {
  border: thin solid rgba(45, 38, 64, 0.693);
  width: 50%;
  margin: 0 auto 2rem;
}

.services__h2 {
  font-size: 4rem;
  margin-bottom: 8rem;
}

.services__service {
  margin: 4rem 0;
}

.services__icon {
  margin-bottom: 3rem;
  height: 8.6rem;
  display: block;
}

.services__icon--1 {
  background: url(../img/icon-snappy-process.svg) no-repeat;
  background-position: center;
}

.services__icon--2 {
  background: url(../img/icon-affordable-prices.svg) no-repeat;
  background-position: center;
}

.services__icon--3 {
  background: url(../img/icon-people-first.svg) no-repeat;
  background-position: center;
}

.services__h4 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.services__paragraph {
  color: #837d87;
}

.find__card {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 1rem;
  color: #fafafa;
  background: url(../img/bg-pattern-intro-right-mobile.svg) right no-repeat;
  background-position-y: -5rem;
  background-color: #2d2640;
}

.find__h4 {
  font-size: 4rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.footer {
  margin-top: 10rem;
  background-color: #fafafa;
}

.footer:before {
  content: "";
  position: absolute;
  left: 0;
  background: url(../img/bg-pattern-footer-mobile.svg) no-repeat;
  height: 100%;
  width: 100%;
}

.footer__items {
  padding: 8rem 0 6rem;
  position: relative;
}

.footer__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.footer__item--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.footer__border {
  border: 1px solid #E4E4E4;
  width: 90%;
  margin: 3rem auto;
}

.footer__logo-img {
  width: 100%;
}

.footer__social-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin: 0 1rem;
  display: block;
}

.footer__social-icon--facebook {
  background: url(../img/icon-facebook.svg) no-repeat;
}

.footer__social-icon--twitter {
  background: url(../img/icon-twitter.svg) no-repeat;
}

.footer__social-icon--pinterest {
  background: url(../img/icon-pinterest.svg) no-repeat;
}

.footer__social-icon--instagram {
  background: url(../img/icon-instagram.svg) no-repeat;
}

.footer__links {
  color: #2b272f;
  font-size: 1.2rem;
  padding: .5rem;
  text-align: center;
}

.footer__links:first-child {
  color: #837d87;
  padding: 1rem;
}

@media (min-width: 1199px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__hide-desktop {
    display: none;
  }
  .header__nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: unset;
    width: unset;
    background: unset;
    position: unset;
    top: unset;
    right: unset;
  }
  .header__nav-items--show-desktop {
    display: inherit;
  }
  .header__nav-items:after {
    display: none;
  }
  .header__nav-item--hide-desktop {
    display: none;
  }
  .header__nav-item--move {
    -webkit-transform: unset;
            transform: unset;
  }
  .header__nav-item-link {
    color: #837d87;
  }
}
/*# sourceMappingURL=style.css.map */